@charset "UTF-8";

/* Estilos Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #111111;
    height: 100vh;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato  button {

    font-weight: 500;
    font-size: 18px;
    background: 
        linear-gradient(#111111, #111111) padding-box,
        linear-gradient(60deg, #BE44F2, #05DBF2) border-box;
    color: #7d7d7d;
    padding: 10px 40px;
    border: 2px solid transparent;
    border-radius: 40px;
    display: inline-block;
    transition : 1000ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    
}

.btn-contato:hover button {
    color: rgb(246, 246, 246);
    transition : 1000ms;
    padding: 10px 60px;
    transform : translateY(-0px);
    
}

h2.titulo {
    color: rgb(246, 246, 246);
    font-size: 40px;
    text-align: center;
}

h2.titulo span {
    color: #05DBF2;
}


/* Estilos Header */

header {
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo {
    max-width: 200px;

}

.menu-desktop  a, .btn-contato a {
    font-size: 17px;
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: rgb(246, 246, 246);
    transform: scale(1.05);

}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}


/* Estilos Topo do Site */

section.topo-do-site {
    padding: 40px 4%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .text-topo-site h1 {
    color: rgb(246, 246, 246);
    font-size: 38px;
}

.topo-do-site .text-topo-site h1 span {
    color: #BE44F2;
}
.topo-do-site .text-topo-site p {
    color: rgb(246, 246, 246);
    padding: 20px 0px 30px 0px;
    max-width: 530px;

}
.topo-do-site .img-topo-site img {
    width: 480px;
    position: relative;
    animation: float 2s ease-in-out infinite alternate;

}

@keyframes float {

    0% {
        top: 0px;
    }
    100% {
        top: 30px;
    }
}

/* Estilos Servicos */

section.servicos {
    padding: 80px 4%;
    background-color: #151515;
}

section.servicos .flex {
    justify-content: space-around;
    margin-top: 60px;
}

.servicos .servicos-box {
    padding: 40px;
    background-color: #111111;
    border-radius: 10px;
    border: 1px solid #252525;
    transition: transform 1000ms ease-out;
}

.servicos .servicos-box:hover {
    transform: scale(1.05);
    background: 
        linear-gradient(#111111, #111111) padding-box,
        linear-gradient(60deg, #BE44F2, #05DBF2) border-box;
    border: 1px solid transparent;       
}

.servicos .servicos-box i {
    font-size: 70px;
    color: #BE44F2;
}

.servicos .servicos-box h3 {
    color: rgb(246, 246, 246);
    font-size: 28px;
    padding: 15px 0;
}

.servicos .servicos-box p {
    color: #8e8e8e;
    max-width: 350px;
}

/* Estilos Sobre Mim */

section.sobre {
    padding: 80px 8%;
    background-color: #111111;
    
}

#foto-sobre {
    max-width: 500px;
    border-radius: 10px;
}

section.sobre .flex {
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #151515;
    padding: 50px 0px;
    border-radius: 10px;
    border: 1px solid #252525;
}

.sobre .txt-sobre h2 {
    color: rgb(246, 246, 246);
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 40px;
}

.sobre .txt-sobre h2 span {
    color: #05DBF2;
    display: block;
}
.sobre .txt-sobre p {
    color: #8e8e8e;
    max-width: 600px;
    margin: 15px 0;
    text-align: justify;
}

.sobre .txt-sobre p span {
    color: #02a7ba;
    font-weight: 600;
}

.sobre .txt-sobre p strong {
    color: #8530aa;
}

.sobre .txt-sobre .btn-social button {
    width: 80px;
    height: 80px;
    background-color: #111111;
    border-radius: 10px;
    border: 1px solid #252525;
    font-size: 30px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    transition: 1s;
}

.sobre .txt-sobre .btn-social button:hover {
    transform: scale(1.05);
    background: 
        linear-gradient(#111111, #111111) padding-box,
        linear-gradient(60deg, #BE44F2, #05DBF2) border-box;
    border: 1px solid transparent;
}

.sobre .txt-sobre .btn-social button .bi {
    color: #8e8e8e
}

/* Estilos Projetos */

section.projetos {
    padding: 80px 4%;
    background-color: #111111;
}

section.projetos .flex {
    justify-content: space-around;
    margin-top: 60px;

}
.img-port {
    width: 360px;
    height: 460px;
    border-radius: 10px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    position: relative;
    background-color: aqua;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #252525be;
    border-radius: 10px;
    opacity: 0;
    transition: .5s;
    /* Para centralizar o nome do Projeto no centro da imagem!*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(246, 246, 246);

}

.overlay:hover {
    opacity: 1;
}

.img-port:hover {
    background-position: 100% 100%;
}
